
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<title>conveyonnaise</title>

	<!-- Include custom css-->
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
 <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header transparent-header">
        <div class="overlay"></div>
        <!-- Transparent header -->
        <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <h1 id="nav-title" class="mdl-typography--headline mdl-typography--font-thin">Conveyonnaise-ENPH 253</h1>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation mdl-layout--large-screen-only mdl-typography--font-light mdl-typography--subhead">
                    <a class="mdl-navigation__link" href="#challenge">Home</a>
                    <a class="mdl-navigation__link" href="#solution">Compition</a>
                    <a class="mdl-navigation__link" href="#design">Robot</a>
                </nav>
            </div>
        </header>
</body>

</html>
